$var: #000;

$primary-color: #17494D;
$primary-color-100: #03363D;
$secundary-color-100: #68737D;
$secundary-color-200: #E9EBED;

// Default colors
$primary-default-color: #000;
$secundary-default-color-100: #fff;
$secundary-default-color-200: #F8F9F9;